input {
    width: 20%;
    height: 50px;
    border-radius: var(--Radius, 8px);
    background: var(--White, #FFF);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.margin-right {
    margin-right: 10px;
}

div {
    display: flex;
    margin-bottom: 20px;
}

input.form-control:focus {
    border: 2px solid var(--blue-60-secondary, #2679DC);
    outline: none;
}